<footer class="bg-gray-900 text-gray-300 border-t border-gray-700 mt-10 px-6 py-8">
  <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 text-sm">
    <div>
      <h3 class="font-bold text-white mb-2">Satria Kode</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae blanditiis impedit voluptatum, corporis modi voluptate magnam tenetur corrupti eaque, illum iste, ipsam sint. Asperiores, quas possimus neque accusamus eveniet qui.</p>
    </div>
    <div>
      <h3 class="font-bold text-white mb-2">Get Help</h3>
      <ul class="space-y-1">
        <li><a href="#" class="hover:underline hover:text-white">Contact Us</a></li>
        <li><a href="#" class="hover:underline hover:text-white">Articles</a></li>
        <li><a href="#" class="hover:underline hover:text-white">FAQ</a></li>
      </ul>
    </div>
    <div>
      <h3 class="font-bold text-white mb-2">Programs</h3>
      <ul class="space-y-1">
        <li><a href="#" class="hover:underline hover:text-white">Web Dev</a></li>
        <li><a href="#" class="hover:underline hover:text-white">Business</a></li>
        <li><a href="#" class="hover:underline hover:text-white">Languages</a></li>
        <li><a href="#" class="hover:underline hover:text-white">Programming</a></li>
      </ul>
    </div>
    <div>
      <h3 class="font-bold text-white mb-2">Contact Us</h3>
      <p>123 Education Lane, Anycity, CA 12345</p>
      <p>Email: support@byway.com</p>
      <p>Tel: +1 (234) 567-890</p>
      <div class="flex gap-2 mt-2">
        <img src="/icons/facebook.svg" class="h-4 brightness-0 invert" />
        <img src="/icons/twitter.svg" class="h-4 brightness-0 invert" />
        <img src="/icons/google.svg" class="h-4 brightness-0 invert" />
        <img src="/icons/youtube.svg" class="h-4 brightness-0 invert" />
      </div>
    </div>
  </div>
</footer>
