          <form action="/pembayarans/{{user.id}}/{{kelas.id}}" method="post" class="space-y-6 pt-28" enctype="multipart/form-data">

            <div>
              <label class="block text-sm font-medium text-gray-700 mb-3">Bukti Transfer *</label>

              <input type="file" name="file">
            </div>

            <button type="submit" 
                    class="w-full bg-gradient-to-r from-slate-800 to-slate-900 text-white py-4 rounded-lg hover:from-slate-700 hover:to-slate-800 disabled:opacity-50 text-lg font-semibold transition-all transform hover:scale-[1.02]">
            </button>
          </form>