      <div class="max-w-7xl mx-auto px-6 py-12">
    <h1 class="text-3xl font-bold text-center mb-10 text-gray-900">
      Mulai Belajar Skill Baru, dari Awam sampai Paham!
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <!-- Sidebar Fakultas -->
      <aside class="space-y-3">
        <button 
          class="btn w-full justify-start text-white bg-gray-900 hover:bg-gray-700" 
          :class="filter === 'all' ? 'btn-primary text-white' : 'btn-outline'"
          @click="filter='all'">All Class</button>

        <button 
          class="btn w-full justify-start text-white bg-gray-900 hover:bg-gray-700" 
          :class="filter === 'Free Class' ? 'btn-primary text-white' : 'btn-outline'"
          @click="filter='Free Class'">Free Class</button>

        <button 
          class="btn w-full justify-start text-white bg-gray-900 hover:bg-gray-700" 
          :class="filter === 'Course' ? 'btn-primary text-white' : 'btn-outline'"
          @click="filter='Course'">Course</button>

        <button 
          class="btn w-full justify-start text-white bg-gray-900 hover:bg-gray-700" 
          :class="filter === 'Bootcamp' ? 'btn-primary text-white' : 'btn-outline'"
          @click="filter='Bootcamp'">Bootcamp</button>

      </aside>

      <!-- Cards Bootcamp -->
      <main class="md:col-span-3 grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        
        <!-- Card Finance -->
        {{#each kelas}}
        <div 
          class="card bg-white shadow-lg border rounded-xl overflow-hidden"
          x-show="filter === 'all' || filter === 'finance'">
          <figure class="px-6 pt-6">
            <img src="{{gambar}}" alt="Finance" class="rounded-xl">
          </figure>
          <div class="card-body">
            <div class="flex gap-2 mb-2">
              <span class="badge badge-outline ">{{kategori.nama_kategori}}</span>
            </div>
            <h2 class="card-title text-gray-900">{{nama_kelas}}</h2>
            <p class="text-sm text-gray-600">
              {{deskripsi}}
            </p>
            <div class="card-actions justify-end mt-4">
              <button class="btn btn-outline w-full hover:bg-gray-900 hover:text-white text-gray-900">View Class</button>
            </div>
          </div>
        </div>
        {{/each}}

      </main>
    </div>
  </div>